body {
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
}
.title{
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 5px;
}
.container{
    margin: 5% 5% 0;
}
#range{
    margin-left: 12%;
}
#nav-container {
    display: flex;
    justify-content: left;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 1%;
}

#nav-container .left {
    margin-right: 20px;
}

#nav-container .right {
    margin-left: 20px;
}
